// fonts
$mainFont: 'PF DinDisplay Pro';

// shadows
$shadow-1: 0.4rem 0.4rem 3rem #bdc3c7;

// colors
$black: #000;
$white: #fff;
$red-1: #dc3545;
$green-1: #198754;
$pink-1: #f3477a;
$blue-2: #007bff;
$blue-1: #2185d0;
$gray-1: #333333;
$gray-2: #d6d5d5;
$purple-1: #884cb2;

// radius
$radius-5: 5px;

// borders
$borderGray-1: 1px solid $gray-1;
$borderGray-2: 1px solid $gray-2;
